node_modules/
package-lock.json
# bodhassess-app/dist
bodhassess-app/.env
bodhassess-app/.env.local
bodhassess-app/.env.development.local
bodhassess-app/.env.test.local
bodhassess-app/.env.production.local


bodhassess-api-spring/target