{
	email {$ACME_EMAIL}
}

{$APP_DOMAIN} {
	encode zstd gzip
	reverse_proxy app:3000
}

{$API_DOMAIN} {
	encode zstd gzip

	@uploads path /uploads/*
	handle @uploads {
		reverse_proxy api:8080
	}

	handle {
		reverse_proxy api:8080
	}
}
